ejecutables-/home/facundo/SISOP/tpsisop/bin-facundo-[2018-05-16 18:26]
maestros-/home/facundo/SISOP/tpsisop/maestro-facundo-[2018-05-16 18:26]
entrada-/home/facundo/SISOP/tpsisop/recibidos-facundo-[2018-05-16 18:26]
aceptados-/home/facundo/SISOP/tpsisop/novedades-facundo-[2018-05-16 18:26]
rechazados-/home/facundo/SISOP/tpsisop/rechazados-facundo-[2018-05-16 18:26]
procesados-/home/facundo/SISOP/tpsisop/procesados-facundo-[2018-05-16 18:26]
reportes-/home/facundo/SISOP/tpsisop/reportes-facundo-[2018-05-16 18:26]
logs-/home/facundo/SISOP/tpsisop/log-facundo-[2018-05-16 18:26]
